
@{
    ViewBag.Title = "craete2view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("savedata3", null, FormMethod.Post))
{
<style>
    form {
        display: flex;
        flex-direction: column;
    }
</style>

<form action="savedata3">
    <label class="col-md-2">name</label>
    <div class=" col-md-4">

    </div>

    <label>ID</label>
    <div>
        <input type="number" name="ID" class="form-control" />
    </div>
    <label>employees name</label>
    @Html.DropDownList("employeeslist", null, "select", htmlAttributes: new { @Name = "employees_id" })
    @*<input type ="text class=form-control" name="salary_paid" />*@
    <label>salary paid</label>
    <div>
        <input type="text" name="salary" class="form-control" />
    </div>
    <label>paid date</label>
    <div>
        <input type="date" name="salary" class="form-control" />
    </div>

    <label>
        city

    </label>
    <div>
        <input type="text" name="city" class="form-control" />
    </div>
    <div>
        <br /> <input type="submit" class="btn btn-info" value="add" />

    </div>
</form>
}
